#head
{
	position: fixed;
	top:0px;
	width: 100%;
	height: 65px;
    background-color: white;
    z-index: 9999;
    border-bottom: 1px solid #ccc;
    box-shadow: 3px 6px 13px -6px;
}
#head .headDiv
{
    height: 65px;
    width: 270px;
    position: absolute;
    top: 0px;
    cursor: pointer;
}
#head .logo
{
    position: absolute;
    left: 10px;
    width: 48px;
    height: 48px;
    top: 10px;
}
#head .title
{
	font-family: "微软雅黑 Bold", "微软雅黑 Regular", 微软雅黑;
	font-weight: 700;
	font-style: normal;
	/*不换行*/
	white-space: nowrap;
    font-size: 30px;
    position: absolute;
    color: #0b007b;
    left: 70px;
    top: 10px;
    text-shadow: 2px 2px 5px #737373;
}
#head .user
{
	position: absolute;
    right: 65px;
    top: 0px;
    width: 200px;
    height: 65px;
    text-align: left;
    cursor: pointer;
}
#head .user .userLogo
{
    left: 0px;
    width: 52px;
    height: 52px;
    vertical-align: middle;
}
#head .user .userInf
{
	width: 68%;
	display: inline-block;
    vertical-align: middle;
}
#head .user .userInf .span1
{
    display: block;
    font-size: 17px;
    line-height: 27px;
    font-family: 微软雅黑;
    font-weight: 400;
    font-style: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#head .user .userInf .span2
{
    display: block;
    font-size: 17px;
    line-height: 27px;
    font-family: 微软雅黑;
    font-weight: 400;
    font-style: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#head .button
{
	width: 65px;
	height: 65px;
	right: 0px;
	top: 0px;
	position: absolute;
}
#head .buttonImg
{
	margin: 0 auto;
	vertical-align: middle;
    cursor: pointer;
}
#search
{
	height: 133px;
}
#search .blank
{
	height: 65px;
}
#search .content
{
	background-color: #0097ff;
    height: 68px;
    text-align: center;
    padding-top: 6px;
}
#search .content .searchBar
{
    width: 500px;
    margin-top: 5px;
    padding: 0px;
    margin: auto auto;
}
#search .content .searchBar .arrow
{
    width: 40px;
    position: absolute;
    margin-left: 32px;
    margin-top: 12px;
}
#search .content .searchBar .arrow .img1
{
	width:70%;
}
#search .content .searchBar .se
{
    width: 40px;
    position: relative;
    margin-right: -410px;
    margin-top: -44px;
    display: inline-block;
    cursor: pointer;
}
#search .content .searchBar .se .img2
{
	width:70%;
}
#search .content .searchBar .input
{
	font-family: "微软雅黑 Bold", "微软雅黑 Regular", 微软雅黑;
    border-radius: 26px;
    font-size: 18px;
    height: 40px;
    width: 100%;
    padding-left: 65px;
}
#search .content .searchBar .ul
{
    font-family: "微软雅黑 Bold", "微软雅黑 Regular", 微软雅黑;
    position: relative;
    margin-top: 40px;
    margin-left: 34px;
    min-width: 90px;
    text-align: center;
}
#search .content .searchBar .list
{
    position: absolute;
}