@media screen and (min-width: 320px) and (max-width : 480px) {
    html{-webkit-text-size-adjust: none;}
}

/*全局样式*/
*{padding:0;margin:0;}
div,dl,dt,dd,form,h1,h2,h3,h4,h5,h6,img,ol,ul,li,table,th,td,p,span,a{border:0;}
img,input{border:none;vertical-align:middle;}
body{ font-family: "Microsoft YaHei",Tahoma,Arial,Helvetica,"宋体";font-size:14px;text-align:center;background:#FFF;color:#000;}
html{overflow-y:scroll;}
ul,ol{list-style-type:none;}
th,td,input{font-size:14px;}
h3{font-size:14px;}
button{border:none;cursor:pointer;font-size:14px;background-color:transparent;}
select{border-width:1px;_zoom:1;border-style:solid;padding-top:2px;font-size:12px;}
.clear{clear:both;font-size:1px;height:0;visibility:hidden;line-height:0;}
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}
a:link,a:visited{text-decoration:none;color:#0097FF;}
a:hover,a:active{text-decoration:underline;color:#0097FF;}

.bordertest
{
	/*border: 1px solid red;*/
}
.help
{
	/*辅助元素，vertical-align取决于行内最高元素*/
    height: 100%;
    width: 0;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}