/*
* @Author: hwaphon
* @Date:   2017-02-26 14:18:49
* @Last Modified by:   hwaphon
* @Last Modified time: 2017-02-26 14:46:18
*/
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
article {
    width: 960px;
    height:2200px;
    /*height: 520px;*/
    margin: 12px auto;
    padding: 60px;

    color: #333;
    /*border: 1px solid #ccc;*/
}

#nav {
    font-size: 14px;
    margin-left:160px;
    width:100%;
    margin-bottom:10px;
    /*width: 1080px;*/
    /*margin: 0 auto;*/
    /*padding-top: 24px;*/
}
nav {
    /*position:fixed;*/
    overflow: hidden;
    background-color: #eee;
    width: 100%;
    margin: 0 auto;
    /*margin-top: 12px;*/

    align-items: center;
}
nav p:nth-child(2) {
    margin-left:160px;
    float: left;
    color: #09c;
}
nav p:nth-child(3){
    font-size: 14px;

    float: left;

    margin-left: 12px;

    color: #333;
}

.clearfix{
    margin:0;
    padding:0;
}
section {
    height: 600px;
}
section ul{
    list-style:none;

}
section .upload-steps {
    width: 760px;
    margin: 18px auto 0;
}
section li{
    float:left;
}
section li.step-num{
    position: relative;
    border: 2px solid #000;
    font-size: 24px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 19px;
    border-color: #e4e4e4;
    color: #e4e4e4;
    margin: 0 -2px;

}



section li.step-bar{
    background-color: #e4e4e4;
    height: 8px;
    width: 322px;
    margin-top: 15px;
}

span.tips{
    display: block;
    top: 0;
    color: #ababab;
    width: 100px;
    font-size: 14px;
    position: relative;
    left: -33px;
}

section li.step-num.active{
    border-color: #1aa97b;
    background-color: #1aa97b;
    color: #fff;}

section li.step-num.active .tips{
    color: #1aa97b;
}

section div {
    position: relative;

    height: 96px;
}

/*upload first*/
#upload {
    width: 65%;
    height: 240px;
    margin: 24px auto;
    padding: 36px;

    text-align: center;

    border: 1px solid #ccc;
}
#upload button {
    font-size: 28px;

    margin-top: 48px;
    padding: 8px 16px;

    color: #09c;
    border: 1px solid #09c;
    background-color: #fff;
}
#upload p {
    margin-top: 24px;
}
#upload p span {
    color: #09c;
}
/**************/

/*upload file second*/
.primary{color: #09f;margin-left: 10px;margin-right: 10px;}
article aside {

    height: 468px;

}
#info_label{
    margin-top: 60px;
    background-color: #f8f8f8;
    padding: 20px;
    width: 100%;
    border-top:2px dashed;
    border-bottom:2px dashed;
}
.label_title{
    font:28px bold;
}
.label_more{
    font-size: 16px;
}
.label_l{
    float: left;
    line-height:34px;
    /*font-size:43px;*/

}
.btn_add{
    float: right;
    height:34px;
    padding: 10px;
    background-color: #fff;
    margin-right: 10px;
    cursor: pointer;
}
.add{
    color: #09f;
}
.next{
    color: #f6c;
}
.btn_do_add{
    float: right;
    height:34px;
    padding: 10px;
    background-color: #FFCC99;
    cursor: pointer;
}


#article-des {
    line-height: 36px;
    width: 100%;
    height:380px;

    padding: 8px 16px;
    font-size: 12px;
    color: #666;
    clear:both;
    /*overflow:hidden;*/
}
.t_l{
    float: left;
    width: 40%;
    height:210px;
    margin-top: 60px;
    margin-left: 80px;
    border-right:1px #ccc solid;
}
.t_r{
    float: right;
    width: 40%;
    margin-top: 60px;
    margin-left: 80px;
    
}

#article-des p:last-child span {
    padding-bottom: 48px;
}


#success {
    font-size: 18px;

    margin-top: 64px;

    text-align: center;

    color: #666;
}

#success p {
    margin-bottom: 12px;
}

#success p a {
    color: #333;
}

#success p:nth-child(2) {
    font-size: 14px;

    color: #888;
}

#success button {
    font-size: 28px;

    margin-top: 48px;
    padding: 8px 16px;

    color: #09c;
    border: 1px solid #09c;
    background-color: #fff;
}
/**************/

