
nav{
	background:#bbbec5;
	height:65px;
	position:fixed;
	top:0px;
	width:100%;
}

nav span{
   font-family: "寰蒋闆呴粦 Bold", "寰蒋闆呴粦 Regular", 寰蒋闆呴粦;
   font-weight:700;
   font-size:25px;
   color:cyan;
   line-height:65px;
   margin-left:50px;

}

.home{
	margin-top: 65px;
     width: 100%;
    position:relative;
}
.left{
		position:absolute;
        top:15px;
        left:0;       
        width: 400px;
        height:100%;
        background:gray;  
}



.user-pic-bg{

	width: 200px;
    height: 200px;
    position:relative;
    background-color:#fff;
    border-radius:100px;
    margin:20px auto;
   
   

}
.user-pic-bg img{
	position:absolute;
	left:4px;
    top:4px;
    width:192px;
    height:192px;
     border-radius:95px;
    overflow: hidden;
    
}

.head-info{
	    margin: 0 auto;
	    padding:10px;
    text-align: center;
}

.name{
	    line-height: 30px;
    font-size: 28px;
    margin: 0;
    color:#333333;
}

 .data{
	display:block;
	margin:0 auto;
	width:100%;
	padding:0;
}

.data span{
	margin-left:10px;
	text-align: center;
	font-size:20px;	
}

.data span:nth-child(2n-1){
	color:#333333;
}
.data span:nth-child(2n){
	color:#E6BD1A;
}




.asset-info{
	 margin: 0 auto;
	    padding:10px;
    text-align: center;
}

.asset-info .left-block{
	width: 33%;
    float: left;
    margin:0 auto;
    text-align: center;
    border-right: 1px dotted #dbdcde;

}
.asset-info .middle-block{
width: 33%;
    float: left;
    margin:0 auto;
    text-align: center;
    border-right: 1px dotted #dbdcde;
}
.asset-info .right-block{
width: 33%;
    float: left;
    margin: 0 auto; 
    text-align: center;
}
.asset{
	color:#E6BD1A;
	    font-size:24px;
    line-height: 30px;
}

.asset .doc{
	font-size:12px;
	line-height:30px;
}

.signiture{
	width:80%;
	 margin: 0 auto;
	    padding:10px;
    
}



textarea {
    overflow: auto;
    width: 100%;
    background-color: transparent;
    border: none;
}
textarea:hover{
	border:1px solid blue;
}

/*鏁堟灉绫�*/
.clearfix:after{
	content:'';
	display:block;
	clear:both;
}


