
.right{
		position:absolute;
	    top:15px;
	    right:0;	    
        width: 400px;
        height:100%;
        background:gray;   
}

.middle{margin:0 410px; height:100%;background: gray}

#pic{cursor:pointer;}
#id{width:80px;margin:0 auto;}
.middle p{
	    margin-bottom: 11px;
        margin-top: 16px;
	    text-align: center;
	    font-size: 28px;
}

hr{
	margin:0;
}
#chart1{
	width:500px;
	height:605px;
	margin:0 auto;


}

.info-head p{
	font-size:28px;
	/*font-weight:700;
*/	line-height: 30px;
margin-top:11px;
margin-bottom:12px;
		/*font-family: "微软雅黑 Bold", "微软雅黑 Regular", 微软雅黑;*/
}
.info-head span{
		float:right;
		width:30px;
		height:30px;
}

.info-head img{
	width:100%;
	height:100%;
}

.form-horizontal{
	margin-top:30%;
}
.form-control{
	border-radius: 0;
}

.control-label{
	width:19%;
}
.col-sm-10{
	width:76%;
}

.msg{
	width:70%;

	margin-bottom:10px;
	height:30px;
	font-size:28px;
	/*border:1px solid #fff;*/
	position:relative;
	left:82px;

}

.iBtn{
	width:100%;
	height:100%;
	text-align:center;


}
#suBtn{
	font-size:20px; width: 20%;height: 100%;vertical-align: middle;margin-left:47%;
}